{% extends "main/base.html" %}
{% load static %}
    {% block content%}

        <div class="d-flex align-items-center"
             style="min-height: 100vh">
            <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
                 style="min-width: 300px;">
                <div class="text-center mt-5 mb-1">
                    <div class="avatar avatar-lg">
                        <img src="{% static '/images/logo/primary.svg' %}"
                             class="avatar-img rounded-circle"
                             alt="LearnPlus" />
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-5 navbar-light">
                    <a href="student-dashboard.html"
                       class="navbar-brand m-0">LearnPlus</a>
                </div>
                <div class="card navbar-shadow">
                    <div class="card-header text-center">
                        <h4 class="card-title">Sign Up</h4>
                        <p class="card-subtitle">Create a new account</p>
                    </div>
                    <div class="card-body">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group text-center mb-0">
                                <div class="custom-control custom-checkbox">
                                    <input id="terms"
                                           type="checkbox"
                                           class="custom-control-input"
                                           required="">
                                    <label for="terms"
                                           class="custom-control-label text-black-70">I agree to the <a href="#"
                                           class="text-black-70"
                                           style="text-decoration: underline;">Terms of Use</a></label>
                                </div>
                            </div>

                            <button type="submit"
                                    class="btn btn-primary btn-block mb-3">Sign Up</button>
                        </form>
                    </div>
                    <div class="card-footer text-center text-black-50">Already signed up? <a href="{% url 'login' %}">Login</a></div>
                </div>
            </div>
        </div>
        {% endblock%}
